/* CSS declarations go here */

.container {
	max-width: 900px;
	margin: 0 auto;
	min-height: 100%;
	background: white;
}

.player-select-header {
	font-size: 20px;
}

.player-entry {
	float: left;
	width: 25%;
	text-align: center;
	background: white;
}

.ranking th, td {
	text-align: center;
}

.ranking .rank, .ranking .elo {
	width: 3rem;
}

.ranking .players {
	width: 12rem;
}