.container {
    max-width: 1080px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

.player-block {
    clear: both;
}

.player-select-header {
    font-size: 20px;
}

.player-entry {
    text-align: center;
    background: white;
    padding-bottom: 10px;
}

.nav-block {
    clear: both;
}

.btn-primary {
    margin: 4px;
}

.nav-justified > li > a {
    border: 1px solid #eee;
}

tr:nth-of-type(even){
    background-color: #f4f4f4;
    padding: 6px;
}

@media (min-width: 768px){
    .player-block{
        max-width: 75%;
    }

    .nav-justified > li > a {
        margin-bottom: 4px;
    }

    .nav-justified > li {
        display: block;
        width: 100%;
    }
}

@media (min-width: 960px){
    .player-block{
        max-width: 900px;
    }
}

.dropdown-menu {
    width: 100%;
}

.dropdown-menu > li {
    text-align: center;
}

.ranking th, td {
    text-align: center;
}

.ranking .rank {
    width: 5%
}

.ranking .sortStat, .ranking .additionalStat {
    width: 20%;
}

.ranking .players {
    width: 25%;
}

.ranking .player {
    line-height: 4rem;
}

.statistics-title {
    text-align: center;
}

.names th, td {
    text-align: center;
}

table th {
    text-align: center;
}
